@dtplatform:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:username=${DTPLATFORM_KEY}
//npm.pkg.github.com/:_password=${DTPLATFORM_SECRET_BASE64}
//npm.pkg.github.com/:email=${DTPLATFORM_EMAIL}
//npm.pkg.github.com/:always-auth=true
