// version dtf-1.0

.viewerWrapper {
    width: 100%;
    height: calc(100vh - 80px);

    .panel-row {
        display: flex;
        flex-direction: row;
        height: calc(100vh - 80px);

        .viewers {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        .drawer {
            background-color: white;
            z-index: 98;
            border-right: 2px solid #d8d8d8;

            .viewerMode {
                padding: 20px;

                label {
                    margin-right: 1rem;

                    input {
                        margin-right: 0.4rem;
                    }
                }
            }

            .viewer-sidebar {
                width: 100%;
                padding: 20px;

                .elementDetails {
                    display: flex;
                    overflow-x: scroll;
                }

                label.model-select-label {
                    display: block;
                    font-weight: bold;
                    margin-bottom: 0.4rem;
                }

                label.synch-check {
                    font-weight: bold;
                    margin-right: 0.5rem;
                }

                select {
                    display: block;
                    width: 80%;
                    height: 30px;
                    border-radius: 25px;
                }

                input[type="checkbox"] {
                    transform: scale(1.3);
                    cursor: pointer;
                }
            }
        }
    }
}